AddDefaultCharset utf-8

<Files .env>
    Order allow,deny
    Deny from all
</Files>

Options +FollowSymLinks
RewriteEngine on
RewriteBase /


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php

#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^www\.iska\.com\.ua$ [NC]
#RewriteCond %{REQUEST_URI} !^/robots.*
#RewriteRule ^(.*)$ http://iska.com.ua/$1 [R=301,L]